<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ABOUT ME</title>
  </head>
  <body style="background-color:#A39487">

    <h1 stye="text-align:center;font-size:300%">All about ME</h1>
    <i style="font-size:160%">Đào Đức Hòa</i>
    <p></p>
    <em style="font-size:100%">Gap year student - waiting for a chance</em>
      <p style="font-size:115%">Currently, I studies writing codes at
        <a href="http://techkids.vn"style="font-size:110%;text-decoration:none">Techkid</a>. What a nice place !!
        <br> And I've just finished my 3-year-highschool at Tran Phu Gifted School in my hometown, Hai Phong city
      </p>
      <p>
        Lots of things I love to do, but there's little I can tell :v
        <br>I am really into some comics and anime like Ruler of the Land or Naruto, Conan, ...
        <br>And a real fan of Tech Insider or DIY video.
        <br>Recently, I've found my new hobbies: Coding =))
      </p>
      <p>
        I think that's enough for this page.
        <br>Hope u guys enjoy ;)

      </p>





  </body>
</html>
